html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

h1{
    color: #3498db;
}

nav{
    text-align : center;
    width :100%;
    height : 10%;
    display: flex;
    /* margin: 20px; */
    /* padding : 20px; */
    background-color: #3498db;
    align-items: center;
}

ul{
    display: flex;
    padding: 0px;
    height: 100%;
    align-items: center;
}

li{
    display: flex;
    border: 1px solid #000000;
    align-items: center;
    height: 100%;
    padding: 0px 20px;

}
a{
    align-items: center;
}

nav ul li:hover {
  background-color: #29b989;
  /* border-radius: 20px; */
}