{% load static %}
<!DOCTYPE html>


<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>list</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'list/style.css' %}" >
    
     <style>
      body {
        font-family: 'Crimson Pro', serif;
      }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'list' %}">Home</a></li>
            {% if user.is_authenticated%}
                <li><a href="{% url 'user_post_list' user.id %}">내 서평</a></li>
                <li><a href="">내 정보보기</a></li>
                <li><a href="{% url 'post' %}">새 글 작성하기</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" onclick="alert('로그인 후 이용해주세요')">내 서평</a></li>
                <li><a href="" onclick="alert('로그인 후 이용해주세요')">내 정보보기</a></li>
                <li><a href="{% url 'post' %}" onclick="alert('로그인 후 이용해주세요')">새 글 작성하기</a></li>
            {% endif%}
        </ul>

        <ul>
            <li><a href="{% url 'login' %}">로그인하기</a></li>
            {% if user.is_authenticated%}
                <li><a href="{% url 'logout' %}">로그아웃</a></li>
            {% else %}
                <li><a href="#" onclick="alert('이미 로그아웃 되었습니다!')">로그아웃</a></li>
            {% endif %}
        </ul>

        <style>
            .hidden {
                display: none;
            }
        </style>

        <button onclick= "toggleBox()">
            토글 버튼
        </button>
        <div id="box" class="hidden">
            토글 영역입니다
        </div>

    </nav>



    <h1>게시글</h1>
    <div class = 'post'>
        {% for post in posts %}
            <div class="container">
                <div class='title'> {{ post.title }}</div>
                <div class='title'> {{ post.bookName }}</div>
                <div class='author'>author: {{ post.author.username }}</div>
            </div>

            <div class='review'>
                <p>review: {{ post.review }}</p>
            </div>
            
            <p>{{ post.time }}</p>
        {% endfor %}
    </div>
</body>
</html>