{% load static %}
<!DOCTYPE html>


<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>list</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'list/style.css' %}" >
    
     <style>
      body {
        font-family: 'Crimson Pro', serif;
      }
    </style>
    <script src="{% static 'list/postScript.js' %}"></script>
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'list' %}">Home</a></li>
            {% if user.is_authenticated%}
                <li><a href="{% url 'user_post_list' user.id %}">내 서평</a></li>
                <li><a href="">내 정보보기</a></li>
                <li><a href="{% url 'post' %}">새 글 작성하기</a></li>
            {% endif%}
        </ul>

        <ul class="log">
            
            {% if user.is_authenticated%}
                <li><a href="{% url 'logout' %}">로그아웃</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">로그인하기</a></li>
            {% endif %}
        </ul>


    </nav>



    <h1>게시글</h1>
    <div class = 'post_container'>
        
            {% for post in posts %}
                <div class = "post_box">
                    <div class="container">
                        <div class='title'> {{ post.title }}</div>
                        <div class='bookname'> {{ post.bookName }}</div>
                        <div class='author'> {{ post.author.username }}</div>
                    </div>

                    <div class='review'>
                        <p> {{ post.review }}</p>
                    </div>
                    <div class= "time">
                        <p>{{ post.time }}</p>
                    </div>
                </div>
                
            {% endfor %}
        
    </div>
</body>
</html>