{% load static %}
<html>
    <head>
        <title>my page </title>
        <link rel="stylesheet" type="text/css" href="{% static 'list/style.css' %}" >
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="{% url 'list' %}">Home</a></li>
                {% if user.is_authenticated%}
                    <li><a href="{% url 'user_post_list' user.id %}">내 서평</a></li>
                    <li><a href="">내 정보보기</a></li>
                    <li><a href="{% url 'post' %}">새 글 작성하기</a></li>
                {%else%}
                    <li><a href="{% url 'login' %}" onclick="alert('로그인 후 이용해주세요')">내 서평</a></li>
                    <li><a href="" onclick="alert('로그인 후 이용해주세요')">내 정보보기</a></li>
                    <li><a href="{% url 'post' %}" onclick="alert('로그인 후 이용해주세요')">새 글 작성하기</a></li>
                {% endif%}
            </ul>

            <ul>
                <li><a href="{% url 'login' %}">로그인하기</a></li>
                {% if user.is_authenticated%}
                    <li><a href="{% url 'logout' %}">로그아웃</a></li>
                {% else %}
                    <li><a href="#" onclick="alert('이미 로그아웃 되었습니다!')">로그아웃</a></li>
                {% endif %}
            </ul>
        </nav>
        <h2> {{user.username}}님이 쓴 글 목록</h2>

        {% for post in posts%}
            <div>
                <h3>{{post.title}}</h3>
                <p>{{post.bookName}}</p>
                <p>{{post.review}}</p>
                <p>작성일: {{post.time}}<p>
            </div>

        {% empty %}
            <p> 작성한 글이 없습니다</p>

        {% endfor %}
    </body>

</html>