.gowun-dodum-regular {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

h1{
    color: #3498db;
}

nav{
    text-align : center;
    width :100%;
    height : 10%;
    display: flex;
    /* margin: 20px; */
    /* padding : 20px; */
    background-color: #bfaf92;
    align-items: center;
}

ul{
    display: flex;
    padding: 0px;
    height: 100%;
    align-items: center;
}

li{
    display: flex;
    border: 1px solid #000000;
    align-items: center;
    height: 100%;
    padding: 0px 20px;

}
a{
    align-items: center;
}

nav ul li:hover {
  background-color: #4d3c2d;
  /* border-radius: 20px; */
}

.post{
    background-color: #29b989;
    padding: 30px;
    width: 40%;
    display: inline-block;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 32px;
}

.author{
    font-size: 16px;
}

.review{
    font-size: 25px;
}